<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- title of site -->
  <title>Global Street</title>

  <!-- For favicon png -->
  <link rel="shortcut icon" type="image/icon" href="/img/logo_head.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
      <div class="main-body">
      
            <!-- Breadcrumb -->
            <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-white">
              <i class="fa fa-home"></i>
            </a>
            <a href=# class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-white">
              <i class="fa fa-user"></i>
            </a>
            <a href="/rankings" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-white">
              <i class="fa fa-trophy"></i>
            </a>
            <a href="/skills" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-white">
              <i class="fa fa-bar-chart"></i> 
            </a>
            <!-- /Breadcrumb -->
      
            <div class="row gutters-sm">
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                      <div class="mt-3">
                        <h4>John Doe</h4>
                        <p class="text-secondary mb-1">Student at Télécom SudParis</p>
                        <p class="text-muted font-size-sm">Evry-Courcouronnes</p>
                        <button class="btn btn-primary">Follow</button>
                        <button class="btn btn-outline-primary">Message</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mt-3">
                      <div class="card">
                          <div class="card-body">
                              <div class="d-flex flex-column align-items-center text-center">
                                  <div class="badges">
                                      <div class="animated_badge animated_badge_1 hide">
                                          <div class="animated_stars">
                                              <div class="animated_star plus"></div>
                                              <div class="animated_star donut yellow"></div>
                                              <div class="animated_star plus"></div>
                                              <div class="animated_star donut"></div>
                                              <div class="animated_star plus yellow"></div>
                                          </div>
                                          <svg class="animated_badge_svg" width="75" height="100" viewBox="0 0 75 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path class="badge_ribbon left"
                                                  d="M16 86.7506V62C16 59.2386 18.2386 57 21 57H55C57.7614 57 60 59.2386 60 62V86.8112C60 88.7561 58.8722 90.5246 57.1087 91.3448L40.5616 99.0411C39.2517 99.6504 37.7424 99.6633 36.4223 99.0766L18.9693 91.3197C17.1637 90.5172 16 88.7266 16 86.7506Z"
                                                  fill="#A5ACB9" />
                                              <path class="badge_ribbon left"
                                                  d="M16 86.7506V62C16 59.2386 18.2386 57 21 57H55C57.7614 57 60 59.2386 60 62V86.8112C60 88.7561 58.8722 90.5246 57.1087 91.3448L40.5616 99.0411C39.2517 99.6504 37.7424 99.6633 36.4223 99.0766L18.9693 91.3197C17.1637 90.5172 16 88.7266 16 86.7506Z"
                                                  fill="#A5ACB9" />
                                              <path class="badge_ribbon left"
                                                  d="M16 86.7506V62C16 59.2386 18.2386 57 21 57H55C57.7614 57 60 59.2386 60 62V86.8112C60 88.7561 58.8722 90.5246 57.1087 91.3448L40.5616 99.0411C39.2517 99.6504 37.7424 99.6633 36.4223 99.0766L18.9693 91.3197C17.1637 90.5172 16 88.7266 16 86.7506Z"
                                                  fill="url(#paint0_linear)" />
                                              <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="16" y="57" width="44" height="43">
                                                  <path
                                                      d="M16 86.7506V62C16 59.2386 18.2386 57 21 57H55C57.7614 57 60 59.2386 60 62V86.8112C60 88.7561 58.8722 90.5246 57.1087 91.3448L40.5616 99.0411C39.2517 99.6504 37.7424 99.6633 36.4223 99.0766L18.9693 91.3197C17.1637 90.5172 16 88.7266 16 86.7506Z"
                                                      fill="#999999" />
                                                  <path
                                                      d="M16 86.7506V62C16 59.2386 18.2386 57 21 57H55C57.7614 57 60 59.2386 60 62V86.8112C60 88.7561 58.8722 90.5246 57.1087 91.3448L40.5616 99.0411C39.2517 99.6504 37.7424 99.6633 36.4223 99.0766L18.9693 91.3197C17.1637 90.5172 16 88.7266 16 86.7506Z"
                                                      fill="url(#paint1_linear)" />
                                              </mask>
                                              <g class="badge_ribbon left" mask="url(#mask0)">
                                                  <rect x="30" y="60" width="15" height="40" fill="#EAEDF2" />
                                              </g>
                                              <circle class="badge_circle" cx="37.5" cy="37.5" r="33.5" fill="#C0C6CF" stroke="#777E8B" stroke-width="8" />
                                              <path class="badge_number" d="M36.272 45H38.772V30.7H36.572C36.332 32.28 35.292 32.82 32.832 32.88V34.78H36.272V45Z" fill="white" />
                                              <defs>
                                                  <linearGradient id="paint0_linear" x1="38" y1="57" x2="38" y2="89.5" gradientUnits="userSpaceOnUse">
                                                      <stop stop-color="#616468" />
                                                      <stop offset="1" stop-color="#A5ACB9" stop-opacity="0" />
                                                  </linearGradient>
                                                  <linearGradient id="paint1_linear" x1="38" y1="57" x2="38" y2="89.5" gradientUnits="userSpaceOnUse">
                                                      <stop stop-color="#27539F" />
                                                      <stop offset="1" stop-color="#71A1F4" stop-opacity="0" />
                                                  </linearGradient>
                                              </defs>
                                          </svg>
                                      </div>
                                  </div>
                                  <h4 class="score">67</h4>
                                  <h6>
                                    <a href='/rankings'>World Wide Rank: #4805</a>
                                  </h6>
                                  <h6>
                                    <a href='/rankings'>Friend Rank: #2</a>
                                  </h6>
                              </div>
                          </div>
                      </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        John Doe
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        john.doe@random.com
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Languages</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        French (native), English (fluent), German (intermediate)
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Mobile</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        +33 6 12 34 56 78
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Address</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        Télécom SudParis, 91000, Evry-Courcouronnes
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row gutters-sm">
                  <div class="col-sm-6 mb-3">
                    <div id="language" class="card h-100">
                      <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">progression</i>English</h6>
                        <small>Grammar</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small>Vocabulary</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small>Conjugation</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small>Oral</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small>Writting</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div id="language" class="card h-100">
                      <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">progression</i>German</h6>
                        <small>Grammar</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small>Vocabulary</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 65%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small>Conjugation</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small>Oral</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small>Writting</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 62%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
            
          </div>
      </div>
    </body>
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        setTimeout(() => {
            document.querySelector(".animated_badge_1").classList.remove("hide");
          }, 0);

        function getScoreColor(score) {
            var red = Math.floor(255 - (score * 2.55));
            var green = Math.floor(score * 2.55);
            return 'rgb(' + red + ',' + green + ',0)';
        }
        
        var scoreElement = document.querySelector('.score');
        var score = parseInt(scoreElement.innerHTML);
        scoreElement.style.color = getScoreColor(score);

        var element = document.getElementById('language');

        element.addEventListener('mouseover', function() {
          // Change the cursor type when the mouse pointer is over the element
          document.body.style.cursor = 'pointer';
        });

        element.addEventListener('mouseout', function() {
          // Change the cursor type back when the mouse pointer is not over the element
          document.body.style.cursor = 'default';
        });

        element.addEventListener('click', function() {
          // Change the cursor type back when the mouse pointer is not over the element
          window.location.href = "/skills";
        });
    </script>
</body>
</html>