<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatiable" content="ie=edge">
    <!-- title of site -->
    <title>Global Street</title>

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="/img/logo_head.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main class="video-chat-main-container">
        <!-- Breadcrumb -->
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-white">
            <i class="fa fa-home"></i>
        </a>
        <a href="/profile" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-white">
            <i class="fa fa-user"></i>
        </a>
        <a href=# class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-white">
            <i class="fa fa-trophy"></i>
        </a>
        <a href="/skills" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-white">
            <i class="fa fa-bar-chart"></i> 
        </a>
        <!-- /Breadcrumb -->
        <div class="video-chat-container">
            <div class="video-tag-container">
                <div class="videos">
                    <video src="" class="video-player" id="user-1" autoplay="autoplay" playsinnline="playsinnline">
                    </video>
                    <img src="/img/avatar1.png" class="video-player" id="user-2"/>
                </div>
            </div>
            <div class="chat-text-container">
                <div class="chat-text-container">
                    <p> You are now connected to a random stranger. Click the "Start" button whenever you're ready!</p>
                </div>
                <div class="next-chat-container">
                    <button class="btn btn-primary" onclick="window.location.href='/recap'">End Session</button>
                    <button class="btn btn-primary" onclick="StartChat()" id="startButton">Start</button>
                    <button class="btn btn-primary" onclick="NextChat()" id="nextButton">Next</button>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/js/video_chat.js"></script>